@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #080808;
  color: #fff;
}

/* Menu Section */
header {
  position: fixed;
  width: 100%;
  background: #616161;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 5%;
  z-index: 999;
}
.logo {
  color: white;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  padding: 5px;
}
nav {
  position: relative;
  display: flex;
  align-items: center;
}

nav i {
  font-size: 15px;
  margin-right: 7px;
}

label {
  display: none;
}

nav a {
  color: white;
  margin: 0 20px;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  position: relative;
}

nav a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav a:hover::after {
  width: 100%;
}

@media screen and (max-width: 548px) {
  label {
    display: block;
  }


  nav {
    position: fixed;
    width: 150px;
    background: #fff;
    flex-direction: column;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    align-items: center;
    transition: 0.3s ease;
    z-index: 999;
  }

  nav a, nav label {
    color: #111;
    font-size: 20px;
  }

  nav label {
    text-align: right;
  }

  input:checked ~ nav {
    visibility: visible;
    opacity: 1;
  }
}

/* Home Section */
#home {
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#home .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

#home .container img {
  background-size: 100%;
  margin-left: 200px;
  background-size: cover;
  background-position: center;
}

.text {
  margin-top: 20%;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text h1 {
  font-size: 50px;
  margin-top: 20px;
  display: flex;
}

.text .type {
  margin: 0 auto;
  overflow: hidden;
  color: transparent;
  white-space: nowrap;
  border-right: 3px solid rgb(192, 27, 55);
  animation: typing 3.5s steps(30, end) infinite,
    blinking-cursor 0.5s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
    -webkit-text-stroke: 2px #ff004f;
  }

  100% {
    width: 100%;
    -webkit-text-stroke: 2px #ff004f;
  }
}

@keyframes blinking-cursor {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: rgb(192, 27, 55);
  }
}

/* About Section */
#about {
  padding: 70px 30px;
  height: 100vh;
  width: 100%;
  align-items: center;
  display: flex;
}

#about .container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 50px;
}

.img-1 {
  flex-basis: 35%;
}

.container-1 .img-1 img {
  width: 65%;
  border-radius: 15px;
  margin-left: 50px;
}

.text-1 {
  flex-basis: 65%;
  background-color: #383535;
}

.text-1 p {
  margin: 10px;
}

.upper-title {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}

/* For hover effects in about */
.container-2 {
  display: flex;
  position: relative;
  width: 100%;
  height: 400px;
  bottom: 10px;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.container-2 .card {
  position: relative;
  background-color: #221f1f;
  max-width: 200px;
  height: 200px;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  border-radius: 15px;
}

.container-2 .card:hover {
  height: 320px;
  box-shadow: rgb(31, 180, 88) -5px 30px 40px -10px,
    rgb(42, 175, 232) 10px 30px 40px -10px;
}

.container-2 .card .imgBx {
  position: relative;
  width: 150px;
  height: 130px;
  top: -60px;
  left: 35px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0, 5);
}

.container-2 .card .imgBx img {
  max-width: 100px;
}

.container-2 .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  color: #d4cece;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.container-2 .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -60px;
  transition-delay: 0.3s;
}

.content p {
  font-size: 15px;
  word-spacing: 5px;
}

/* Project Section */
#project {
  padding: 50px 0;
  height: 100vh;
}

.my-project {
  display: flex;
  margin: 30px 10px;
  padding: 20px 15px;
  justify-content: space-around;
}

.work1 img {
  max-width: 400px;
  max-height: 250px;
}

.work2 img {
  max-width: 300px;
  max-height: 360px;
}

.work3 img {
  max-width: 290px;
  max-height: 320px;
}

/* Contact Section */
#contact {
  padding: 30px 0;
  height: 100vh;
}

.main {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

/* .main img {
  max-width: 50px;
  max-height: 50px;
} */

.card1 img {
  max-width: 80px;
  max-height: 80px;
}

.card2 img {
  max-width: 80px;
  max-height: 80px;
}

.card3 img {
  max-width: 130px;
  max-height: 130px;
}

.card4 img {
  max-width: 80px;
  max-height: 80px;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card1 {
  margin-top: 30px;
  width: 200px;
  height: 200px;
  outline: none;
  border: none;
  background: #616161;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
}

.card2 {
  margin-top: 30px;
  width: 200px;
  height: 200px;
  outline: none;
  border: none;
  background: #616161;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.fb {
  margin-top: 1.5em;
  margin-left: -0.9em;
}

.card3 {
  width: 200px;
  height: 200px;
  outline: none;
  border: none;
  background: #616161;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.github {
  margin-top: -0.6em;
  margin-left: 1.2em;
}

.card4 {
  width: 200px;
  height: 200px;
  outline: none;
  border: none;
  background: #616161;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.tg {
  margin-top: -0.9em;
  margin-left: -1.2em;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: rgb(172, 151, 151);
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03a9f4;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: rgb(65, 211, 7);
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}


/* Page Section */
/* .page {
  margin: 10px;
  padding: 20px;
  height: 100vh;
}

.page h1 {
  padding: 30px;
  text-align: center;
} */